@inherits LayoutComponentBase

<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">DenonControl</a>
    </nav>
</header>

<main role="main" class="container">
    <div class="mt-5">
        @Body
    </div>
</main>