name: CI

on:
  push:
    branches:
      - "*"
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - uses: actions/cache@v2
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
        restore-keys: |
          ${{ runner.os }}-nuget-

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.100

    - name: Install dependencies
      run: dotnet restore DenonControl.sln

    - name: Build
      run: dotnet build --configuration Release --no-restore DenonControl.sln

    - name: Test
      run: dotnet test --no-restore --verbosity normal DenonControl.sln

